/* PPOBJECTSANS */
@font-face {
    font-family: "ppobjectsans";
    src: url("ppobjectsans.ttf") format("truetype");
}

/* REIGO */
@font-face {
    font-family: "reigo";
    src: url("reigo.ttf") format("truetype");
}

/* VOLOD */
@font-face {
    font-family: "volod";
    src: url("volod.ttf") format("truetype");
}

@font-face {
    font-family: "pixeloid";
    src: url("pixeloid.ttf") format("truetype");
}