:root {
    --itemSize: 180px;
    --colorWhite: #F7F5F1;
    --colorBlack: #181A1B;
    --borderWhite: 1px solid var(--colorWhite);
}


html, body {
    padding: 50px;
    min-height: 100vh;
    overscroll-behavior: none;
    background-color: var(--colorBlack);
}


.gridContainer {
    padding: 1px;
    display: grid;
    max-width: 70vw;
    grid-auto-flow: dense;
    box-sizing: border-box;
    grid-auto-rows: var(--itemSize);
    grid-template-columns: repeat(auto-fill, minmax(var(--itemSize), 1fr));
}


.gridItem {
    padding: 0;
    display: flex;
    font-size: 30px;
    overflow: hidden;
    text-align: justify;

    font-weight: bold;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    justify-content: center;
    border: var(--borderWhite);
    background-repeat: no-repeat;
    background-color: var(--colorBlack);
}


.markdownExtended {
    padding: 5px;
    font-size: 15px;
    color: var(--colorWhite);
}
.markdownExtended h1 {
    font-size: 35px;
}
.markdownExtended h2 {
    font-size: 30px;
}
.markdownExtended h3 {
    font-size: 25px;
}
.markdownExtended h4 {
    font-size: 20px;
}
.markdownExtended a {

}
.markdownExtended em {
    
}
.markdownExtended strong {

}
.markdownExtended a:hover {
    background-color: red;
}
.markdownExtended em:hover {
    background-color: red;
}
.markdownExtended strong:hover {
    background-color: red;
}