:root {
    --itemSize: 200px;
    --colorWhite: #F7F5F1;
    --colorBlack: #181A1B;
    --borderWhite: 1px solid var(--colorWhite);
}


html, body {
    padding: 50px;
    min-height: 100vh;
    overscroll-behavior: none;
    background-color: var(--colorBlack);
}


.gridContainer {
    display: grid;
    max-width: 70vw;
    grid-auto-flow: dense;
    box-sizing: border-box;
    grid-auto-rows: var(--itemSize);
    grid-template-columns: repeat(auto-fill, minmax(var(--itemSize), 1fr));
}
.gridItem {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    justify-content: center;
    border: var(--borderWhite);
    background-repeat: no-repeat;
}


.videoExtended {
    width: 110% !important;
    height: 100% !important;
}


.markdownExtended {
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    pointer-events: none;
    font-family: sans-serif;
    color: var(--colorWhite);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.markdownExtended h1 {
    font-size: 85px;
    vertical-align: middle;
    font-family: sans-serif;
}
.markdownExtended h1 em {
    font-size: 75px;
    font-style: normal;
    color: var(--colorWhite);
    font-family: pixeloid !important;
    background-color: transparent !important;
}
.markdownExtended h2 {
    font-size: 30px;
    margin-top: -4px;
}
.markdownExtended h3 {
    font-size: 25px;
}
.markdownExtended h4 {
    font-size: 20px;
}
.markdownExtended a {
    padding: 2px;
    transition: color 250ms ease;
    pointer-events: all !important;
}
.markdownExtended em {
    padding: 0 2px 0 2px;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}
.markdownExtended img {
    margin: 0;
    padding: 0;
    width: 100%;
}
.markdownExtended code {
    padding: 2px;
    line-height: 25px;
    color: var(--colorWhite);
    border: 1px solid var(--colorWhite);
}
.markdownExtended strong {
    padding: 0 2px 0 2px;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}